*.log
.DS_Store
.env
.env.*
!.env.example


.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules

/public/build
/public/hot
/public/storage
/public/js/filament
/public/css/filament
/public/fonts/filament

/storage/*.key
/storage/pail
/storage/app/private
/storage/debugbar
/storage/logs/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

/database/*.sqlite
/database/testing.sqlite

/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php

/vendor
_ide_helper.php

Homestead.json
Homestead.yaml
Thumbs.db

/coverage
compose.yaml
!.gitignore
.npmrc
